<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/CoupleAtDinner4.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <!-- Register Form -->
                        <form class="register-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <!-- First Name -->
                            <label for="first_name" class="control-label">First Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'has-error': invalidFirstName(),'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>

                                <input type="text" class="form-control" placeholder="First Name" id= "first_name" (focus)="focus=true" (blur)="focus=false" >
                                <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">Invalid first name.</p>
                            </div>
                            <!-- Last Name -->
                            <label for="last_name" class="control-label">Last Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': invalidLastName(), 'input-group-focus':focus===true }">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>

                                <input type="text" class="form-control" id="last_name" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false" >
                                <p *ngIf="invalidLastName()" id="last_name_error" class="help-block">Invalid last name.</p>
                            </div>
                            <!-- Email -->
                            <label for="email" class="control-label">Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': invalidEmail(),'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input type="text" id="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                                <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email address.</p>
                            </div>
                            <!-- Password -->
                            <label for="password" class="control-label">Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'has-error': invalidPassword(),'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input id="password" type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                                <p *ngIf="invalidPassword()" id="password_error" class="help-block">Invalid password.</p>
                            </div>
                            <div class="form-group has-error">
                                <button class="btn btn-danger btn-block btn-round">Register</button>

                            </div>
                        </form>
                        <div class="forgot">
                            <a [routerLink]="['/landing']" class="btn btn-link btn-danger">Already Member?</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}},<i class="fa fa-heart heart"></i> Fresh Start Dating Inc</h6>
            </div>
        </div>
    </div>
</div>
