<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Fresh Start</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} <i class="fa fa-heart heart"></i> Fresh Start Dating Inc
                </span>
            </div>
        </div>
    </div>
</footer>
